### Script SQL for Dataframe of IFSC Climbing European Championships in DB Staging

in the Data availabe on 03sept2024

Sex : Male, Female

Age Category : Senior (no Junior)

Disciplines : Lead, Bouldering, Speed,Combined

In [1]:
import numpy as np
import pandas as pd
# Beautifulsoup already installed into Anaconda environment

# Librairy PyODBC for SQL Server connection
import os
import pyodbc
# setup SQL Server connection session
server = '-PCSJN\DATAVIZ'  
database = 'Climbing_Staging'
connection_string= (
                    'DRIVER={SQL Server};SERVER='
                     + server
                     + ';DATABASE='
                     + database 
                     + ';Trusted_Connection=yes'                  
                    )

In [3]:
# script de cr√©ation d'une table ds SQL 
create_table = """Create TABLE Wiki_IFSC_Climbing_European_Championships_Climbers_Synthesis_03sept2024
                                   ( 
                                        id INT IDENTITY PRIMARY KEY,
                                        Competition VARCHAR(100),
                                        Discipline VARCHAR(100),
                                        Category_Age VARCHAR(100),
                                        Sex VARCHAR(100),
                                        Year VARCHAR(100),
                                        Gold VARCHAR(100),
                                        Silver VARCHAR(100),
                                        Bronze VARCHAR(100),                                                                                                 
                                   ) """

# launch session
cnxn = pyodbc.connect(connection_string,autocommit=True) # no cursor.commit as Autocommit already
cursor = cnxn.cursor() 

try: 
    # load script "create " 
    cursor.execute(create_table) 
     
except Exception as err: 
    print('err:',err) 
try: 
    cursor.close()  # close session
except Exception as err: 
    print('err:',err)