### Webscrapping with Pandas pd.read_html()  + ODBC on SQL Server with pyodbc

#### Source : Wikipedia / IFSC Climbing World Cup (International Federation of Sport Climbing)

 is a series of competition climbing events held during the year at various locations around the world, organized by the IFSC. The first World Cup was held in 1989. For 18 seasons, from 1989 to 2006 World Cups were held under the auspices of the International Council for Competition Climbing which was part of the UIAA. they were called UIAA Climbing World Cups. Since 2007, they have been held under the auspices of the IFSC

At each event, the athletes compete in 3 disciplines: LEAD, SPEED (from 1998), BOULDERING (from 1999)

The number of events varies from year to year, and the winners for each discipline are decided by the points accumulated in the year.

IMPORTANT : #1 Not to be confused with IFSC Climbing World Championships

In [9]:
import numpy as np
import pandas as pd
# Beautifulsoup already installed into Anaconda environment

# Librairy PyODBC for SQL Server connection
import os
import pyodbc
# setup SQL Server connection session
server = '-PCSJN\DATAVIZ'  
database = 'Climbing_Staging'
connection_string= (
                    'DRIVER={SQL Server};SERVER='
                     + server
                     + ';DATABASE='
                     + database 
                     + ';Trusted_Connection=yes'                  
                    )

# Function for injecting dataframe content into SQL Server Table
def template_SQL_insert_values(table_name,dict):
    
    columns = "("
    for k in dict.keys():
        columns += str(k) + ','
    columns = columns[:-1] ### remove last comma
    columns += ")"
    
    req = f"""INSERT INTO {table_name} {columns} VALUES {tuple(dict.values())}"""
    return req

In [10]:
### url
Wiki_IFSC_Climbing_World_Cup = "https://en.wikipedia.org/wiki/IFSC_Climbing_World_Cup"
### récuperer toutes les tables html vu sur le site (url)
Dataset_Wiki_IFSC_Climbing_World_Cup = pd.read_html(Wiki_IFSC_Climbing_World_Cup)
type(Dataset_Wiki_IFSC_Climbing_World_Cup), len(Dataset_Wiki_IFSC_Climbing_World_Cup)

(list, 35)

##### on récupère 1 list de 35 élts

In [3]:
type(Dataset_Wiki_IFSC_Climbing_World_Cup[0])

pandas.core.frame.DataFrame

##### > Chaque élt est un DataFrame Pandas
##### ? Quel est le contenu chacun des 30 dataframes ? Lesquelles nous interessent ?

In [4]:
Dataset_Wiki_IFSC_Climbing_World_Cup[0]

,IFSC Climbing World Cup,IFSC Climbing World Cup.1
0,World Cup series logo,World Cup series logo
1,Seasons,Seasons
2,1989 1990 1991 1992 1993 1994 1995 1996 1997 1...,1989 1990 1991 1992 1993 1994 1995 1996 1997 1...
3,Disciplines,Disciplines
4,Lead Bouldering Speed,Lead Bouldering Speed
5,Most gold medals,Most gold medals
6,Janja Garnbret (43),Janja Garnbret (43)
7,Most titles,Most titles
8,Sandrine Levet (10) Janja Garnbret (10),Sandrine Levet (10) Janja Garnbret (10)

######## [0] is dataset of summarized data about Climbing World Cup dataset > NOT to Discard

In [6]:
Dataset_Wiki_IFSC_Climbing_World_Cup[1]

    0                                                  1
0 NaN  This section needs to be updated. Please help ...

######## [1] has no data > to Discard

In [7]:
Dataset_Wiki_IFSC_Climbing_World_Cup[2]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,Ranking,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
1,Points,1000,805,690,610,545,495,455,415,380,350,325,300,280,260,240

[2] is about World Cup points for each Ranking (Points - Ranking Mapping)

In [8]:
Df_2_Wiki_IFSC_Climbing_World_Cup_Mapping_Points_Ranking = Dataset_Wiki_IFSC_Climbing_World_Cup[2]

In [9]:
Dataset_Wiki_IFSC_Climbing_World_Cup[3]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,Ranking,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30
1,Points,220,205,185,170,155,145,130,120,105,95,84,73,63,56,48

[3] is the 2nd part of Points - Ranking Mapping

In [10]:
Df_2_Wiki_IFSC_Climbing_World_Cup_Mapping_Points_Ranking_1st = Df_2_Wiki_IFSC_Climbing_World_Cup_Mapping_Points_Ranking
Df_3_Wiki_IFSC_Climbing_World_Cup_Mapping_Points_Ranking_2nd = Dataset_Wiki_IFSC_Climbing_World_Cup[3]

In [11]:
Dataset_Wiki_IFSC_Climbing_World_Cup[4]

        0   1   2   3   4   5   6   7   8   9   10  11  12  13     14  15
0  Ranking  31  32  33  34  35  36  37  38  39  40  41  42  43  44-45  46
1   Points  42  37  33  30  27  24  21  19  17  15  14  13  12     11  10

[4] is the 3rd part of Points - Ranking Mapping

In [12]:
Df_4_Wiki_IFSC_Climbing_World_Cup_Mapping_Points_Ranking_3rd = Dataset_Wiki_IFSC_Climbing_World_Cup[4]

In [13]:
Dataset_Wiki_IFSC_Climbing_World_Cup[5]

         0      1      2      3      4      5      6      7      8      9
0  Ranking  47-48  49-50  51-53  54-56  57-59  60-63  64-68  69-74  75-80
1   Points      9      8      7      6      5      4      3      2      1

[5] is the 4th part of Points - Ranking Mapping

In [14]:
Df_5_Wiki_IFSC_Climbing_World_Cup_Mapping_Points_Ranking_4th = Dataset_Wiki_IFSC_Climbing_World_Cup[5]

In [15]:
Dataset_Wiki_IFSC_Climbing_World_Cup[6]

   Discipline  Overall score Overall ranking
0        Lead            665               1
1  Bouldering            470               2
2       Speed              0               —
3    Combined           1135               1

[6] is about overall (points) score and ranking by Discipline

In [16]:
Df_6_Wiki_IFSC_Climbing_World_Cup_Points_Ranking_Overall_byDiscipline = Dataset_Wiki_IFSC_Climbing_World_Cup[6]

In [17]:
Dataset_Wiki_IFSC_Climbing_World_Cup[7]

                     Discipline                Selected event  \
                     Discipline                Selected event
0                          Lead                       Villars
1                          Lead                          Arco
2                    Bouldering                      Meringen
3                    Bouldering                        Munich
4                         Speed                       Wujiang
5                         Speed                        Xiamen
6  Product of relative rankings  Product of relative rankings

                       Rankings
                        General Relative
0                             1        1
1                             1        1
2                             4        3
3                             3        2
4                            27        2
5                            26        4
6  Product of relative rankings       48

[7] is about Nb and Name of Discipline(s), General Ranking and Relative Ranking per World Cup Event

In [18]:
Df_7_Wiki_IFSC_Climbing_World_Cup_Disciplines_Rankings_byEvent = Dataset_Wiki_IFSC_Climbing_World_Cup[7]

In [19]:
Dataset_Wiki_IFSC_Climbing_World_Cup[8]

,Year,Winner,Second,Third
0,1989,Simon Nadin,Didier Raboutou,Jerry Moffatt
1,1990,François Legrand,Jacky Godoffe,Jim Karn
2,1991,François Legrand (2),François Lombard,Yuji Hirayama
3,1992,François Legrand (3),Luca Zardini,Jean-Baptiste Tribout
4,1993,François Legrand (4),François Petit,Yuji Hirayama
5,1994,François Lombard,François Legrand,Jean-Baptiste Tribout
6,1995,François Petit,François Legrand,Arnaud Petit
7,1996,Arnaud Petit,François Petit,Cristian Brenna
8,1997,François Legrand (5),Arnaud Petit,François Petit
9,1998,Yuji Hirayama,Cristian Brenna,Yevgen Kryvosheytsev
10,1999,François Petit (2),François Legrand,Andreas Bindhammer
11,2000,Yuji Hirayama (2),Alexandre Chabot,Cristian Brenna
12,2001,Alexandre Chabot,Gérome Pouvreau,Tomáš Mrázek
13,2002,Alexandre Chabot (2),Tomáš Mrázek,Gérome Pouvreau
14,2003,Alexandre Chabot (3),Ramón Julián Puigblanque,François Auclair
15,2004,Tomáš Mrázek,Alexandre Chabot,Flavio Crespi
16,2005,Flavio Crespi,Jorg Verhoeven,Cédric Lachat
17,2006,Patxi Usobiaga Lakunza,David Lama,Flavio Crespi Tomáš Mrázek
18,2007,Patxi Usobiaga Lakunza (2),Ramón Julián Puigblanque,Tomáš Mrázek
19,2008,Jorg Verhoeven,Tomáš Mrázek,Ramón Julián Puigblanque
20,2009,Adam Ondra,Patxi Usobiaga Lakunza,Sachi Amma
21,2010,Ramón Julián Puigblanque,Jakob Schubert,Adam Ondra
22,2011,Jakob Schubert,Ramón Julián Puigblanque,Sachi Amma
23,2012,Sachi Amma,Ramón Julián Puigblanque,Jakob Schubert
24,2013,Sachi Amma (2),Jakob Schubert,Ramón Julián Puigblanque
25,2014,Jakob Schubert (2),Sean McColl,Adam Ondra
26,2015,Adam Ondra (2),Gautier Supper,Jakob Schubert
27,2016,Domen Škofic,Jakob Schubert,Romain Desgranges
28,2017,Romain Desgranges,Stefano Ghisolfi,Keiichiro Korenaga
29,2018,Jakob Schubert (3),Stefano Ghisolfi,Romain Desgranges Domen Škofic
30,2019,Adam Ondra (3),Alberto Ginés López,Sean McColl
31,2021,Stefano Ghisolfi,Sean Bailey,Masahiro Higuchi
32,2022,Luka Potočar,Taisei Homma,Jesse Grupper
33,2023,Sorato Anraku,Alexander Megos,Taisei Homma

[8] is about Men Top 3 winner full names of Climbing World Cup in Disciplin LEAD

In [4]:
Dataset_Wiki_IFSC_Climbing_World_Cup[8].dtypes

Year       int64
Winner    object
Second    object
Third     object
dtype: object

In [54]:
Wiki_IFSC_Climbing_World_Cup_Top3_Men_Lead_Df8 = Dataset_Wiki_IFSC_Climbing_World_Cup[8]

# script de création d'une table ds SQL 
create_table = """Create TABLE Wiki_IFSC_Climbing_World_Cup_Top3_Men_Lead_Df8
                                   ( 
                                        id INT IDENTITY PRIMARY KEY,
                                        Year VARCHAR(100),
                                        Winner VARCHAR(100),
                                        Second VARCHAR(100),
                                        Third VARCHAR(100),                                                                   
                                   ) """

# launch session
cnxn = pyodbc.connect(connection_string,autocommit=True) # no cursor.commit as Autocommit already
cursor = cnxn.cursor() 

try: 
    # load script "create " 
    cursor.execute(create_table) 
    
    # population de la table ds SQL
    for i,row in Wiki_IFSC_Climbing_World_Cup_Top3_Men_Lead_Df8.iterrows(): 
        row_dict=row.to_dict()
        temp = template_SQL_insert_values('Wiki_IFSC_Climbing_World_Cup_Top3_Men_Lead_Df8',row_dict)
        cursor.execute(temp)
   
except Exception as err: 
    print('err:',err) 
try: 
    cursor.close()  # close session
except Exception as err: 
    print('err:',err)

In [3]:
Dataset_Wiki_IFSC_Climbing_World_Cup[9]

,Year,Winner,Second,Third
0,1999,Christian Core,Serik Kazbekov,Jérôme Meyer
1,2000,Pedro Pons,Salavat Rakhmetov,Daniel Dulac
2,2001,Jérôme Meyer,Mauro Calibani,Daniel Andrada Jimenez
3,2002,Christian Core (2) Jérôme Meyer (2) Malcolm ...,—,—
4,2003,Jérôme Meyer (3),Salavat Rakhmetov,Daniel Dulac
5,2004,Daniel Dulac,Kilian Fischhuber,Jérôme Meyer
6,2005,Kilian Fischhuber,Jérôme Meyer,Daniel Dulac
7,2006,Jérôme Meyer (4),Kilian Fischhuber,Gérome Pouvreau
8,2007,Kilian Fischhuber (2),Dmitri Sarafutdinov,Stephane Julien
9,2008,Kilian Fischhuber (3),David Lama,Dmitri Sarafutdinov
10,2009,Kilian Fischhuber (4),Rustam Gelmanov,Gabriele Moroni
11,2010,Adam Ondra,Kilian Fischhuber,Tsukuru Hori
12,2011,Kilian Fischhuber (5),Dmitri Sarafutdinov,Guillaume Glairon Mondet
13,2012,Rustam Gelmanov,Kilian Fischhuber,Jakob Schubert
14,2013,Dmitri Sarafutdinov,Jakob Schubert,Sean McColl
15,2014,Jan Hojer,Dmitri Sarafutdinov,Guillaume Glairon Mondet
16,2015,Chon Jong-won,Jan Hojer,Adam Ondra
17,2016,Tomoa Narasaki,Kokoro Fujii,Alexey Rubtsov
18,2017,Chon Jong-won (2),Tomoa Narasaki,Alexey Rubtsov
19,2018,Jernej Kruder,Tomoa Narasaki,Rei Sugimoto
20,2019,Tomoa Narasaki (2),Adam Ondra,Yoshiyuki Ogata
21,2021,Yoshiyuki Ogata,Kokoro Fujii,Adam Ondra
22,2022,Yoshiyuki Ogata (2),Tomoa Narasaki,Kokoro Fujii
23,2023,Sorato Anraku,Lee Do-hyun,Tomoa Narasaki

[9] is about Top 3 Men winner full names of Climbing World Cup in Disciplin BOULDERING

In [6]:
Dataset_Wiki_IFSC_Climbing_World_Cup[9].dtypes

Year       int64
Winner    object
Second    object
Third     object
dtype: object

In [55]:
Wiki_IFSC_Climbing_World_Cup_Top3_Men_Bouldering_Df9 = Dataset_Wiki_IFSC_Climbing_World_Cup[9]

# script de création d'une table ds SQL 
create_table = """Create TABLE Wiki_IFSC_Climbing_World_Cup_Top3_Men_Bouldering_Df9
                                   ( 
                                        id INT IDENTITY PRIMARY KEY,
                                        Year VARCHAR(100),
                                        Winner VARCHAR(100),
                                        Second VARCHAR(100),
                                        Third VARCHAR(100),                                                                   
                                   ) """

# launch session
cnxn = pyodbc.connect(connection_string,autocommit=True) # no cursor.commit as Autocommit already
cursor = cnxn.cursor() 

try: 
    # load script "create " 
    cursor.execute(create_table) 
    
    # population de la table ds SQL
    for i,row in Wiki_IFSC_Climbing_World_Cup_Top3_Men_Bouldering_Df9.iterrows(): 
        row_dict=row.to_dict()
        temp = template_SQL_insert_values('Wiki_IFSC_Climbing_World_Cup_Top3_Men_Bouldering_Df9',row_dict)
        cursor.execute(temp)
   
except Exception as err: 
    print('err:',err) 
try: 
    cursor.close()  # close session
except Exception as err: 
    print('err:',err)

In [ ]:
Dataset_Wiki_IFSC_Climbing_World_Cup[10]

,Year,Winner,Second,Third
0,1998[4],Andrey Vedenmeer,Vladimir Netsvetaev,Alexey Kozlov
1,1999,Tomasz Oleksy,Vladislav Baranov,Vladimir Zakharov
2,2000,Andrey Vedenmeer (2),Iakov Soubbotine,Vladimir Zakharov
3,2001,Maksym Styenkovyy,Alexander Chaoulsky,Alexander Peshekhonov
4,2002,Alexander Peshekhonov,Maksym Styenkovyy,Sergey Sinitsyn
5,2003,Tomasz Oleksy (2),Alexander Peshekhonov,Iakov Soubbotine
6,2004,Sergey Sinitsyn,Evgeny Vaitcekhovsky,Alexander Peshekhonov
7,2005,Evgeny Vaitcekhovsky,Sergey Sinitsyn,Tomasz Oleksy
8,2006,Evgeny Vaitcekhovsky (2),Sergey Sinitsyn,Alexander Peshekhonov
9,2007,Sergey Sinitsyn (2),Evgeny Vaitcekhovsky,Alexander Kosterin
10,2008,Evgeny Vaitcekhovsky (3),Sergey Sinitsyn,Zhong Qixin
11,2009,Sergey Sinitsyn (3),Sergey Abdrakhmanov,Evgeny Vaitcekhovsky
12,2010,Stanislav Kokorin,Evgeny Vaitcekhovsky,Libor Hroza
13,2011,Łukasz Świrk,Sergey Sinitsyn,Sergey Abdrakhmanov
14,2012,Stanislav Kokorin (2),Danyil Boldyrev,Yaroslav Gontaryk
15,2013,Stanislav Kokorin (3),Libor Hroza,Zhong Qixin
16,2014,Danyil Boldyrev,Libor Hroza,Marcin Dzieński
17,2015,Zhong Qixin,Libor Hroza,Danyil Boldyrev
18,2016,Marcin Dzieński,Reza Alipour,Aleksander Shikov
19,2017,Vladislav Deulin,Reza Alipour,Ludovico Fossali
20,2018,Bassa Mawem,Danyil Boldyrev,Dmitry Timofeev
21,2019,Bassa Mawem (2),Vladislav Deulin,Alfian Muhammad Fajri
22,2021,Veddriq Leonardo,Kiromal Katibin,Marcin Dzieński
23,2022,Veddriq Leonardo (2),Kiromal Katibin,Long Jinbao
24,2023,Veddriq Leonardo (3),Wu Peng,Samuel Watson

[10] is about Men Top 3 winner full names of Climbing World Cup in Disciplin SPEED

In [9]:
Dataset_Wiki_IFSC_Climbing_World_Cup[10].iloc[0,:]

Year                  1998[4]
Winner       Andrey Vedenmeer
Second    Vladimir Netsvetaev
Third           Alexey Kozlov
Name: 0, dtype: object

In [12]:
# Cleansing Year : delete [ ] 
Dataset_Wiki_IFSC_Climbing_World_Cup[10].iloc[0,0] = 1984
Dataset_Wiki_IFSC_Climbing_World_Cup[10].iloc[0,:]

Year                     1984
Winner       Andrey Vedenmeer
Second    Vladimir Netsvetaev
Third           Alexey Kozlov
Name: 0, dtype: object

In [14]:
Dataset_Wiki_IFSC_Climbing_World_Cup[10].dtypes

Year      object
Winner    object
Second    object
Third     object
dtype: object

In [56]:
Wiki_IFSC_Climbing_World_Cup_Top3_Men_Speed_Df10 = Dataset_Wiki_IFSC_Climbing_World_Cup[10]

# script de création d'une table ds SQL 
create_table = """Create TABLE Wiki_IFSC_Climbing_World_Cup_Top3_Men_Speed_Df10
                                   ( 
                                        id INT IDENTITY PRIMARY KEY,
                                        Year VARCHAR(50),
                                        Winner VARCHAR(100),
                                        Second VARCHAR(100),
                                        Third VARCHAR(100),                                                                   
                                   ) """

# launch session
cnxn = pyodbc.connect(connection_string,autocommit=True) # no cursor.commit as Autocommit already
cursor = cnxn.cursor() 

try: 
    # load script "create " 
    cursor.execute(create_table) 
    
    # population de la table ds SQL
    for i,row in Wiki_IFSC_Climbing_World_Cup_Top3_Men_Speed_Df10.iterrows(): 
        row_dict=row.to_dict()
        temp = template_SQL_insert_values('Wiki_IFSC_Climbing_World_Cup_Top3_Men_Speed_Df10',row_dict)
        cursor.execute(temp)
   
except Exception as err: 
    print('err:',err) 
try: 
    cursor.close()  # close session
except Exception as err: 
    print('err:',err)

In [26]:
Dataset_Wiki_IFSC_Climbing_World_Cup[11]

,Year,Winner,Second,Third
0,1998[4][8],Yevgen Kryvosheytsev,Tomasz Oleksy,—
1,1999,François Petit,Daniel Andrada Jimenez,Tomasz Oleksy
2,2000,Alexandre Chabot,Salavat Rakhmetov,Serik Kazbekov
3,2001,Alexandre Chabot (2),Serik Kazbekov,Kilian Fischhuber
4,2002,Maksym Styenkovyy,Serik Kazbekov,Kilian Fischhuber
5,2003,Tomasz Oleksy,Evgeny Ovchinnikov,Serik Kazbekov Cédric Lachat
6,2004,Kilian Fischhuber,Flavio Crespi,Gérome Pouvreau
7,2005,Tomasz Oleksy (2),Kilian Fischhuber,Dmitri Sarafutdinov
8,2006,Tomáš Mrázek,David Lama,Kilian Fischhuber
9,2007,Jorg Verhoeven,Tomáš Mrázek,Kilian Fischhuber
10,2008,David Lama,Jorg Verhoeven,Tomáš Mrázek
11,2009,Adam Ondra,Sachi Amma,Klemen Becan
12,2010,Adam Ondra (2),Jakob Schubert,Sachi Amma
13,2011,Jakob Schubert,Sean McColl,Klemen Becan
14,2012,Jakob Schubert (2),Sean McColl,Sachi Amma
15,2013,Jakob Schubert (3),Sean McColl,Sachi Amma
16,2014,Sean McColl,Adam Ondra,Domen Škofic
17,2015,Adam Ondra (3),Sean McColl,Domen Škofic
18,2016,Sean McColl (2),Jakob Schubert,Kokoro Fujii
19,2017,Tomoa Narasaki,Chon Jong-won,Kokoro Fujii
20,2018,Jakob Schubert (4),Tomoa Narasaki,Kokoro Fujii
21,2019,Tomoa Narasaki (2),Adam Ondra,Jakob Schubert

[11]  is about Men Top 3 winner full names of Climbing World Cup in Disciplin COMBINED

In [19]:
Dataset_Wiki_IFSC_Climbing_World_Cup[11].iloc[0,:]

Year                1998[4][8]
Winner    Yevgen Kryvosheytsev
Second           Tomasz Oleksy
Third                        —
Name: 0, dtype: object

In [20]:
# Cleansing Year : delete [ ] 
Dataset_Wiki_IFSC_Climbing_World_Cup[11].iloc[0,0] = 1984
Dataset_Wiki_IFSC_Climbing_World_Cup[11].iloc[0,:]

Year                      1984
Winner    Yevgen Kryvosheytsev
Second           Tomasz Oleksy
Third                        —
Name: 0, dtype: object

In [21]:
Dataset_Wiki_IFSC_Climbing_World_Cup[11].dtypes

Year      object
Winner    object
Second    object
Third     object
dtype: object

In [57]:
Wiki_IFSC_Climbing_World_Cup_Top3_Men_Combined_Df11 = Dataset_Wiki_IFSC_Climbing_World_Cup[11]

# script de création d'une table ds SQL 
create_table = """Create TABLE Wiki_IFSC_Climbing_World_Cup_Top3_Men_Combined_Df11
                                   ( 
                                        id INT IDENTITY PRIMARY KEY,
                                        Year VARCHAR(50),
                                        Winner VARCHAR(100),
                                        Second VARCHAR(100),
                                        Third VARCHAR(100),                                                                   
                                   ) """

# launch session
cnxn = pyodbc.connect(connection_string,autocommit=True) # no cursor.commit as Autocommit already
cursor = cnxn.cursor() 

try: 
    # load script "create " 
    cursor.execute(create_table) 
    
    # population de la table ds SQL
    for i,row in Wiki_IFSC_Climbing_World_Cup_Top3_Men_Combined_Df11.iterrows(): 
        row_dict=row.to_dict()
        temp = template_SQL_insert_values('Wiki_IFSC_Climbing_World_Cup_Top3_Men_Combined_Df11',row_dict)
        cursor.execute(temp)
   
except Exception as err: 
    print('err:',err) 
try: 
    cursor.close()  # close session
except Exception as err: 
    print('err:',err)

In [30]:
Dataset_Wiki_IFSC_Climbing_World_Cup[12]

,Year,Winner,Second,Third
0,1989,Nanette Raybaud [fr],Luisa Iovane [fr],Robyn Erbesfield
1,1990,Isabelle Patissier Lynn Hill,—,Nanette Raybaud [fr]
2,1991,Isabelle Patissier (2),Susi Good,Robyn Erbesfield
3,1992,Robyn Erbesfield,Isabelle Patissier,Lynn Hill
4,1993,Robyn Erbesfield (2),Susi Good,Elena Ovtchinnikova
5,1994,Robyn Erbesfield (3),Isabelle Patissier,Natalie Richer
6,1995,Robyn Erbesfield (4),Laurence Guyon,Liv Sansoz
7,1996,Liv Sansoz,Laurence Guyon,Stéphanie Bodet
8,1997,Muriel Sarkany,Liv Sansoz,Stéphanie Bodet
9,1998,Liv Sansoz (2),Muriel Sarkany,Stéphanie Bodet
10,1999,Muriel Sarkany (2),Liv Sansoz,Martina Čufar
11,2000,Liv Sansoz (3),Muriel Sarkany,Stéphanie Bodet
12,2001,Muriel Sarkany (3),Martina Čufar,Sandrine Levet
13,2002,Muriel Sarkany (4),Sandrine Levet,Martina Čufar
14,2003,Muriel Sarkany (5),Sandrine Levet,Angela Eiter
15,2004,Angela Eiter,Muriel Sarkany,Alexandra Eyer Natalija Gros
16,2005,Angela Eiter (2),Maja Vidmar,Caroline Ciavaldini
17,2006,Angela Eiter (3),Sandrine Levet,Caroline Ciavaldini
18,2007,Maja Vidmar,Angela Eiter,Muriel Sarkany
19,2008,Johanna Ernst,Maja Vidmar,Mina Markovič
20,2009,Johanna Ernst (2),Jain Kim,Maja Vidmar
21,2010,Jain Kim,Mina Markovič,Angela Eiter
22,2011,Mina Markovič,Jain Kim,Maja Vidmar
23,2012,Mina Markovič (2),Jain Kim,Johanna Ernst
24,2013,Jain Kim (2),Mina Markovič,Momoka Oda
25,2014,Jain Kim (3),Mina Markovič,Magdalena Röck
26,2015,Mina Markovič (3),Jain Kim,Jessica Pilz
27,2016,Janja Garnbret,Anak Verhoeven,Jain Kim
28,2017,Janja Garnbret (2),Jain Kim,Anak Verhoeven
29,2018,Janja Garnbret (3),Jessica Pilz,Jain Kim
30,2019,Seo Chae-hyun,Janja Garnbret,Natsuki Tanii
31,2021,Janja Garnbret (4),Natalia Grossman,Laura Rogora
32,2022,Janja Garnbret (5),Seo Chae-hyun,Natalia Grossman
33,2023,Jessica Pilz,Janja Garnbret,Vita Lukan

 [12] is about Women Top 3 winner full names of Climbing World Cup in Disciplin LEAD

In [13]:
Dataset_Wiki_IFSC_Climbing_World_Cup[12].dtypes

Year       int64
Winner    object
Second    object
Third     object
dtype: object

In [14]:
Wiki_IFSC_Climbing_World_Cup_Top3_Women_Lead_Df12 = Dataset_Wiki_IFSC_Climbing_World_Cup[12]

# script de création d'une table ds SQL 
create_table = """Create TABLE Wiki_IFSC_Climbing_World_Cup_Top3_Women_Lead_Df12
                                   ( 
                                        id INT IDENTITY PRIMARY KEY,
                                        Year VARCHAR(100),
                                        Winner VARCHAR(100),
                                        Second VARCHAR(100),
                                        Third VARCHAR(100),                                                                   
                                   ) """

# launch session
cnxn = pyodbc.connect(connection_string,autocommit=True) # no cursor.commit as Autocommit already
cursor = cnxn.cursor() 

try: 
    # load script "create " 
    cursor.execute(create_table) 
    
    # population de la table ds SQL
    for i,row in Wiki_IFSC_Climbing_World_Cup_Top3_Women_Lead_Df12.iterrows(): 
        row_dict=row.to_dict()
        temp = template_SQL_insert_values('Wiki_IFSC_Climbing_World_Cup_Top3_Women_Lead_Df12',row_dict)
        cursor.execute(temp)
   
except Exception as err: 
    print('err:',err) 
try: 
    cursor.close()  # close session
except Exception as err: 
    print('err:',err)

In [33]:
Dataset_Wiki_IFSC_Climbing_World_Cup[13]

,Year,Winner,Second,Third
0,1999,Stéphanie Bodet,Elena Choumilova,Sandrine Levet
1,2000,Sandrine Levet,Elena Choumilova,Delphine Martin
2,2001,Sandrine Levet (2),Myriam Motteau,Corinne Theroux
3,2002,Myriam Motteau Nataliya Perlova Lisa Rands,—,—
4,2003,Sandrine Levet (3),Olga Bibik,Nataliya Perlova
5,2004,Sandrine Levet (4),Olga Bibik,Yulia Abramchuk
6,2005,Sandrine Levet (5),Olga Bibik,Yulia Abramchuk
7,2006,Olga Bibik,Juliette Danion,Anna Stöhr
8,2007,Juliette Danion,Olga Shalagina,Natalija Gros
9,2008,Anna Stöhr,Akiyo Noguchi,Yulia Abramchuk
10,2009,Akiyo Noguchi,Anna Stöhr,Natalija Gros
11,2010,Akiyo Noguchi (2),Anna Stöhr,Chloé Graftiaux
12,2011,Anna Stöhr (2),Akiyo Noguchi,Alex Puccio
13,2012,Anna Stöhr (3),Akiyo Noguchi,Shauna Coxsey
14,2013,Anna Stöhr (4),Akiyo Noguchi,Alex Puccio
15,2014,Akiyo Noguchi (3),Shauna Coxsey,Anna Stöhr
16,2015,Akiyo Noguchi (4),Shauna Coxsey,Miho Nonaka
17,2016,Shauna Coxsey,Miho Nonaka,Mélissa Le Nevé
18,2017,Shauna Coxsey (2),Janja Garnbret,Akiyo Noguchi
19,2018,Miho Nonaka,Akiyo Noguchi,Fanny Gibert
20,2019,Janja Garnbret,Akiyo Noguchi,Fanny Gibert
21,2021,Natalia Grossman,Janja Garnbret,Oriane Bertone
22,2022,Natalia Grossman (2),Miho Nonaka,Brooke Raboutou
23,2023,Natalia Grossman (3),Miho Nonaka,Brooke Raboutou

 [13] is about Women Top 3 winner full names of Climbing World Cup in Disciplin BOULDERING

In [15]:
Dataset_Wiki_IFSC_Climbing_World_Cup[13].dtypes

Year       int64
Winner    object
Second    object
Third     object
dtype: object

In [53]:
Wiki_IFSC_Climbing_World_Cup_Top3_Women_Bouldering_Df13 = Dataset_Wiki_IFSC_Climbing_World_Cup[13]

# script de création d'une table ds SQL 
create_table = """Create TABLE Wiki_IFSC_Climbing_World_Cup_Top3_Women_Bouldering_Df13
                                   ( 
                                        id INT IDENTITY PRIMARY KEY,
                                        Year VARCHAR(100),
                                        Winner VARCHAR(100),
                                        Second VARCHAR(100),
                                        Third VARCHAR(100),                                                                   
                                   ) """

# launch session
cnxn = pyodbc.connect(connection_string,autocommit=True) # no cursor.commit as Autocommit already
cursor = cnxn.cursor() 

try: 
    # load script "create " 
    cursor.execute(create_table) 
    
    # population de la table ds SQL
    for i,row in Wiki_IFSC_Climbing_World_Cup_Top3_Women_Bouldering_Df13.iterrows(): 
        row_dict=row.to_dict()
        temp = template_SQL_insert_values('Wiki_IFSC_Climbing_World_Cup_Top3_Women_Bouldering_Df13',row_dict)
        cursor.execute(temp)
   
except Exception as err: 
    print('err:',err) 
try: 
    cursor.close()  # close session
except Exception as err: 
    print('err:',err)

In [36]:
Dataset_Wiki_IFSC_Climbing_World_Cup[14]

,Year,Winner,Second,Third
0,1998[4],Olga Zakharova,Alena Ostapenko,Nataliya Perlova
1,1999,Olga Zakharova (2),Alena Ostapenko,Zosia Podgorbounskikh
2,2000,Olena Ryepko,Olga Zakharova,Zosia Podgorbounskikh
3,2001,Olga Zakharova (3),Agung Ethi Hendrawati,Zosia Podgorbounskikh
4,2002,Olena Ryepko (2),Maya Piratinskaya,Valentina Yurina
5,2003,Valentina Yurina,Anna Stenkovaya,Olena Ryepko
6,2004,Tatiana Ruyga,Anna Stenkovaya,Agung Ethi Hendrawati
7,2005,Anna Stenkovaya,Valentina Yurina,Olga Evstigneeva
8,2006,Tatiana Ruyga (2),Valentina Yurina,Anna Stenkovaya
9,2007,Tatiana Ruyga (3),Svitlana Tuzhylina,Anna Stenkovaya
10,2008,Edyta Ropek,Olena Ryepko,Svitlana Tuzhylina
11,2009,Edyta Ropek (2),Anna Stenkovaya,Valentina Yurina
12,2010,Yulia Levochkina,Ksenia Alekseeva,Edyta Ropek
13,2011,Edyta Ropek (3),Maria Krasavina,Alina Gaydamakina
14,2012,Alina Gaydamakina,Yulia Levochkina,Maria Krasavina
15,2013,Alina Gaydamakina (2),Yulia Kaplina,Aleksandra Rudzinska
16,2014,Maria Krasavina,Yulia Kaplina,Anouck Jaubert
17,2015,Maria Krasavina (2),Anouck Jaubert,Yulia Kaplina
18,2016,Yulia Kaplina,Anouck Jaubert,Klaudia Buczek
19,2017,Anouck Jaubert,Yulia Kaplina,Maria Krasavina
20,2018,Anouck Jaubert (2),Aries Susanti Rahayu,Yulia Kaplina
21,2019,Song Yiling,Anouck Jaubert,Aries Susanti Rahayu
22,2021,Emma Hunt,Patrycja Chudziak,Aleksandra Miroslaw Ekaterina Barashchuk
23,2022,Aleksandra Kałucka,Emma Hunt,Natalia Kałucka
24,2023,Natalia Kałucka,Aleksandra Mirosław,Deng Lijuan

[14] is about Women Top 3 winner full names of Climbing World Cup in Disciplin SPEED

In [22]:
Dataset_Wiki_IFSC_Climbing_World_Cup[14].iloc[0,:]

Year               1998[4]
Winner      Olga Zakharova
Second     Alena Ostapenko
Third     Nataliya Perlova
Name: 0, dtype: object

In [23]:
# Cleansing Year : delete [ ] 
Dataset_Wiki_IFSC_Climbing_World_Cup[14].iloc[0,0] = 1984
Dataset_Wiki_IFSC_Climbing_World_Cup[14].iloc[0,:]

Year                  1984
Winner      Olga Zakharova
Second     Alena Ostapenko
Third     Nataliya Perlova
Name: 0, dtype: object

In [24]:
Dataset_Wiki_IFSC_Climbing_World_Cup[14].dtypes

Year      object
Winner    object
Second    object
Third     object
dtype: object

In [51]:
Wiki_IFSC_Climbing_World_Cup_Top3_Women_Speed_Df14 = Dataset_Wiki_IFSC_Climbing_World_Cup[14]

# script de création d'une table ds SQL 
create_table = """Create TABLE Wiki_IFSC_Climbing_World_Cup_Top3_Women_Speed_Df14
                                   ( 
                                        id INT IDENTITY PRIMARY KEY,
                                        Year VARCHAR(50),
                                        Winner VARCHAR(100),
                                        Second VARCHAR(100),
                                        Third VARCHAR(100),                                                                   
                                   ) """

# launch session
cnxn = pyodbc.connect(connection_string,autocommit=True) # no cursor.commit as Autocommit already
cursor = cnxn.cursor() 

try: 
    # load script "create " 
    cursor.execute(create_table) 
    
    # population de la table ds SQL
    for i,row in Wiki_IFSC_Climbing_World_Cup_Top3_Women_Speed_Df14.iterrows(): 
        row_dict=row.to_dict()
        temp = template_SQL_insert_values('Wiki_IFSC_Climbing_World_Cup_Top3_Women_Speed_Df14',row_dict)
        cursor.execute(temp)
   
except Exception as err: 
    print('err:',err) 
try: 
    cursor.close()  # close session
except Exception as err: 
    print('err:',err)

In [38]:
Dataset_Wiki_IFSC_Climbing_World_Cup[15]

,Year,Winner,Second,Third
0,1998[4][9],Nataliya Perlova,Renata Piszczek,Olena Ostapenko
1,1999,Elena Choumilova,Stéphanie Bodet,Isabelle Bihr
2,2000,Liv Sansoz,Sandrine Levet,Elena Choumilova
3,2001,Sandrine Levet,Martina Čufar,Elena Choumilova Annatina Schultz
4,2002,Sandrine Levet (2),Olga Zakharova,Jenny Lavarda
5,2003,Sandrine Levet (3),Olga Bibik,Barbara Bacher
6,2004,Sandrine Levet (4),Jenny Lavarda,Alexandra Eyer
7,2005,Sandrine Levet (5),Anna Stenkovaya,Jenny Lavarda
8,2006,Angela Eiter,Natalija Gros,Maja Vidmar
9,2007,Natalija Gros,Angela Eiter,Svitlana Tuzhylina
10,2008,Akiyo Noguchi,Johanna Ernst,Natalija Gros
11,2009,Akiyo Noguchi (2),Jain Kim,Johanna Ernst
12,2010,Jain Kim,Akiyo Noguchi,Natalija Gros
13,2011,Mina Markovič,Jain Kim,Akiyo Noguchi
14,2012,Mina Markovič (2),Jain Kim,Akiyo Noguchi
15,2013,Mina Markovič (3),Akiyo Noguchi,Momoka Oda
16,2014,Akiyo Noguchi (3),Mina Markovič,Momoka Oda
17,2015,Jain Kim (2),Akiyo Noguchi,Yuka Kobayashi
18,2016,Janja Garnbret,Akiyo Noguchi,Jessica Pilz
19,2017,Janja Garnbret (2),Jain Kim,Shauna Coxsey
20,2018,Janja Garnbret (3),Akiyo Noguchi,Miho Nonaka
21,2019,Janja Garnbret (4),Akiyo Noguchi,Jessica Pilz

[15] is about Women Top 3 winner full names of Climbing World Cup in Disciplin COMBINED

In [28]:
Dataset_Wiki_IFSC_Climbing_World_Cup[15].dtypes

Year      object
Winner    object
Second    object
Third     object
dtype: object

In [ ]:
Dataset_Wiki_IFSC_Climbing_World_Cup[15].iloc[0,:]

In [25]:
# Cleansing Year : delete [ ] 
Dataset_Wiki_IFSC_Climbing_World_Cup[15].iloc[0,0] = 1984
Dataset_Wiki_IFSC_Climbing_World_Cup[15].iloc[0,:]

Year                  1984
Winner    Nataliya Perlova
Second     Renata Piszczek
Third      Olena Ostapenko
Name: 0, dtype: object

In [34]:
# Dataset_Wiki_IFSC_Climbing_World_Cup[15]['Year'].astype('Int64') # - Refusé par Python TypeError: cannot safely cast non-equivalent object to int64

In [26]:
Dataset_Wiki_IFSC_Climbing_World_Cup[15].dtypes

Year      object
Winner    object
Second    object
Third     object
dtype: object

In [52]:
Wiki_IFSC_Climbing_World_Cup_Top3_Women_Combined_Df15 = Dataset_Wiki_IFSC_Climbing_World_Cup[15]

# script de création d'une table ds SQL 
create_table = """Create TABLE Wiki_IFSC_Climbing_World_Cup_Top3_Women_Combined_Df15
                                   ( 
                                        id INT IDENTITY PRIMARY KEY,
                                        Year VARCHAR(50),
                                        Winner VARCHAR(100),
                                        Second VARCHAR(100),
                                        Third VARCHAR(100),                                                                   
                                   ) """

# launch session
cnxn = pyodbc.connect(connection_string,autocommit=True) # no cursor.commit as Autocommit already
cursor = cnxn.cursor() 

try: 
    # load script "create " 
    cursor.execute(create_table) 
    
    # population de la table ds SQL
    for i,row in Wiki_IFSC_Climbing_World_Cup_Top3_Women_Combined_Df15.iterrows(): 
        row_dict=row.to_dict()
        temp = template_SQL_insert_values('Wiki_IFSC_Climbing_World_Cup_Top3_Women_Combined_Df15',row_dict)
        cursor.execute(temp)
   
except Exception as err: 
    print('err:',err) 
try: 
    cursor.close()  # close session
except Exception as err: 
    print('err:',err)

In [3]:
Dataset_Wiki_IFSC_Climbing_World_Cup[16]

                   Rank                Nation  Gold  Silver  Bronze  Total
0                     1          France (FRA)    23      14      18     55
1                     2         Austria (AUT)    14      14       8     36
2                     3          Russia (RUS)    13      22      15     50
3                     4           Japan (JPN)    12       8      18     38
4                     5  Czech Republic (CZE)     9       9       9     27
5                     6         Ukraine (UKR)     6       6       7     19
6                     7          Poland (POL)     6       1       4     11
7                     8           Spain (ESP)     4       7       3     14
8                     9           Italy (ITA)     4       6       6     16
9                    10       Indonesia (INA)     3       2       1      6
10                   11        Slovenia (SLO)     3       0       5      8
11                   12          Canada (CAN)     2       5       2      9
12                   13     Netherlands (NED)     2       2       0      4
13                   13     South Korea (KOR)     2       2       0      4
14                   15   Great Britain (GBR)     2       0       1      3
15                   16         Germany (GER)     1       2       1      4
16                   17           China (CHN)     1       1       3      5
17                   18            Iran (IRN)     0       2       0      2
18                   19   United States (USA)     0       1       3      4
19                   20     Switzerland (SUI)     0       0       2      2
20  Totals (20 entries)   Totals (20 entries)   107     104     106    317

[16] is about Worldwide Countries' Ranking (Men) in Climbing World Cup (based on medals points) : ?? Medal ?? devrait être Winner, Second and Third rank !!

In [21]:
Dataset_Wiki_IFSC_Climbing_World_Cup[16].dtypes

Rank      object
Nation    object
Gold       int64
Silver     int64
Bronze     int64
Total      int64
dtype: object

In [22]:
Wiki_IFSC_Climbing_World_Cup_Countries_Total_Ranking_Men_Df16 = Dataset_Wiki_IFSC_Climbing_World_Cup[16]

# script de création d'une table ds SQL 
create_table = """Create TABLE Wiki_IFSC_Climbing_World_Cup_Countries_Total_Ranking_Men_Df16
                                   ( 
                                        id INT IDENTITY PRIMARY KEY,
                                        Rank VARCHAR(50),
                                        Nation VARCHAR(50),
                                        Gold INT,
                                        Silver INT,
                                        Bronze INT,
                                        Total INT                                                                  
                                   ) """

# launch session
cnxn = pyodbc.connect(connection_string,autocommit=True) # no cursor.commit as Autocommit already
cursor = cnxn.cursor() 

try: 
    # load script "create " 
    cursor.execute(create_table) 
    
    # population de la table ds SQL
    for i,row in Wiki_IFSC_Climbing_World_Cup_Countries_Total_Ranking_Men_Df16.iterrows(): 
        row_dict=row.to_dict()
        temp = template_SQL_insert_values('Wiki_IFSC_Climbing_World_Cup_Countries_Total_Ranking_Men_Df16',row_dict)
        cursor.execute(temp)
   
except Exception as err: 
    print('err:',err) 
try: 
    cursor.close()  # close session
except Exception as err: 
    print('err:',err)

In [43]:
Dataset_Wiki_IFSC_Climbing_World_Cup[17]

                   Rank               Nation  Gold  Silver  Bronze  Total
0                     1         France (FRA)    22      16      19     57
1                     2       Slovenia (SLO)    18      13      12     43
2                     3         Russia (RUS)    13      19      19     51
3                     4        Austria (AUT)    11       6      11     28
4                     5  United States (USA)    10       2       9     21
5                     6          Japan (JPN)     8      15      10     33
6                     7        Ukraine (UKR)     7       7       6     20
7                     8    South Korea (KOR)     6      10       2     18
8                     9        Belgium (BEL)     5       4       3     12
9                    10         Poland (POL)     5       3       5     13
10                   11  Great Britain (GBR)     2       2       2      6
11                   12          China (CHN)     1       0       1      2
12                   13          Italy (ITA)     0       2       3      5
13                   13    Switzerland (SUI)     0       2       3      5
14                   15      Indonesia (INA)     0       2       2      4
15  Totals (15 entries)  Totals (15 entries)   108     103     107    318

[17] is about Worldwide Countries' Ranking (Women) in Climbing World Cup (based on medals points) : ?? Medal ?? devrait être Winner, Second and Third rank !!

In [23]:
Dataset_Wiki_IFSC_Climbing_World_Cup[17].dtypes

Rank      object
Nation    object
Gold       int64
Silver     int64
Bronze     int64
Total      int64
dtype: object

In [24]:
Wiki_IFSC_Climbing_World_Cup_Countries_Total_Ranking_Women_Df17 = Dataset_Wiki_IFSC_Climbing_World_Cup[17]

# script de création d'une table ds SQL 
create_table = """Create TABLE Wiki_IFSC_Climbing_World_Cup_Countries_Total_Ranking_Women_Df17
                                   ( 
                                        id INT IDENTITY PRIMARY KEY,
                                        Rank VARCHAR(50),
                                        Nation VARCHAR(50),
                                        Gold INT,
                                        Silver INT,
                                        Bronze INT,
                                        Total INT                                                                  
                                   ) """

# launch session
cnxn = pyodbc.connect(connection_string,autocommit=True) # no cursor.commit as Autocommit already
cursor = cnxn.cursor() 

try: 
    # load script "create " 
    cursor.execute(create_table) 
    
    # population de la table ds SQL
    for i,row in Wiki_IFSC_Climbing_World_Cup_Countries_Total_Ranking_Women_Df17.iterrows(): 
        row_dict=row.to_dict()
        temp = template_SQL_insert_values('Wiki_IFSC_Climbing_World_Cup_Countries_Total_Ranking_Women_Df17',row_dict)
        cursor.execute(temp)
   
except Exception as err: 
    print('err:',err) 
try: 
    cursor.close()  # close session
except Exception as err: 
    print('err:',err)

In [47]:
Dataset_Wiki_IFSC_Climbing_World_Cup[18]

                   Rank                Nation  Gold  Silver  Bronze  Total
0                     1          France (FRA)   178     165     182    525
1                     2          Russia (RUS)   158     173     163    494
2                     3         Austria (AUT)   114      84      78    276
3                     4        Slovenia (SLO)    95      75      58    228
4                     5           Japan (JPN)    79     109     102    290
5                     6   United States (USA)    51      55      46    152
6                     7  Czech Republic (CZE)    39      38      28    105
7                     8           Spain (ESP)    36      37      23     96
8                     9          Poland (POL)    36      32      29     97
9                    10         Ukraine (UKR)    35      32      47    114
10                   11     South Korea (KOR)    32      26      33     91
11                   12           China (CHN)    31      24      29     84
12                   13           Italy (ITA)    27      42      35    104
13                   14         Belgium (BEL)    25      29      18     72
14                   15   Great Britain (GBR)    23      22      21     66
15                   16       Indonesia (INA)    18      22      22     62
16                   17         Germany (GER)    17      22      26     65
17                   18     Switzerland (SUI)    12      14      27     53
18                   19            Iran (IRI)     6       2       6     14
19                   20          Canada (CAN)     5      15      14     34
20                   21       Venezuela (VEN)     5       2       3     10
21                   22     Netherlands (NED)     4       9      16     29
22                   23       Singapore (SGP)     1       0       2      3
23                   24          Israel (ISR)     1       0       0      1
24                   25         Hungary (HUN)     0       4       0      4
25                   26      Kazakhstan (KAZ)     0       1       0      1
26                   26    Soviet Union (URS)     0       1       0      1
27                   28          Serbia (SRB)     0       0       3      3
28                   29          Norway (NOR)     0       0       2      2
29                   29          Sweden (SWE)     0       0       2      2
30                   31        Bulgaria (BUL)     0       0       1      1
31                   31         Finland (FIN)     0       0       1      1
32                   31       Hong Kong (HKG)     0       0       1      1
33  Totals (33 entries)   Totals (33 entries)  1028    1035    1018   3081

[18] is about Worldwide Countries' Ranking (M/W mixed = 'Total') in Climbing World Cup (based on medals points) : ?? Medal ?? devrait être Winner, Second and Third rank !!

In [ ]:
Dataset_Wiki_IFSC_Climbing_World_Cup[18].iloc[0,1] = 'France'
Dataset_Wiki_IFSC_Climbing_World_Cup[18].iloc[1,1] = 'Fédération de Russie'
Dataset_Wiki_IFSC_Climbing_World_Cup[18].iloc[2,1] = 'Autriche'

Dataset_Wiki_IFSC_Climbing_World_Cup[18].iloc[3,1] = 'Slovénie'
Dataset_Wiki_IFSC_Climbing_World_Cup[18].iloc[4,1] = 'Japon'
Dataset_Wiki_IFSC_Climbing_World_Cup[18].iloc[5,1] = 'États-Unis'

Dataset_Wiki_IFSC_Climbing_World_Cup[18].iloc[6,1] = 'République tchèque'
Dataset_Wiki_IFSC_Climbing_World_Cup[18].iloc[7,1] = 'Espagne'
Dataset_Wiki_IFSC_Climbing_World_Cup[18].iloc[8,1] = 'Pologne'

Dataset_Wiki_IFSC_Climbing_World_Cup[18].iloc[9,1] = 'Ukraine'
Dataset_Wiki_IFSC_Climbing_World_Cup[18].iloc[10,1] = 'Corée du Sud'
Dataset_Wiki_IFSC_Climbing_World_Cup[18].iloc[11,1] = 'Chine'

In [12]:
Dataset_Wiki_IFSC_Climbing_World_Cup[18]

                   Rank                Nation  Gold  Silver  Bronze  Total
0                     1                France   178     165     182    525
1                     2  Fédération de Russie   158     173     163    494
2                     3              Autriche   114      84      78    276
3                     4              Slovénie    95      75      58    228
4                     5                 Japon    79     109     102    290
5                     6            États-Unis    51      55      46    152
6                     7    République tchèque    39      38      28    105
7                     8               Espagne    36      37      23     96
8                     9               Pologne    36      32      29     97
9                    10               Ukraine    35      32      47    114
10                   11          Corée du Sud    32      26      33     91
11                   12                 Chine    31      24      29     84
12                   13           Italy (ITA)    27      42      35    104
13                   14         Belgium (BEL)    25      29      18     72
14                   15   Great Britain (GBR)    23      22      21     66
15                   16       Indonesia (INA)    18      22      22     62
16                   17         Germany (GER)    17      22      26     65
17                   18     Switzerland (SUI)    12      14      27     53
18                   19            Iran (IRI)     6       2       6     14
19                   20          Canada (CAN)     5      15      14     34
20                   21       Venezuela (VEN)     5       2       3     10
21                   22     Netherlands (NED)     4       9      16     29
22                   23       Singapore (SGP)     1       0       2      3
23                   24          Israel (ISR)     1       0       0      1
24                   25         Hungary (HUN)     0       4       0      4
25                   26      Kazakhstan (KAZ)     0       1       0      1
26                   26    Soviet Union (URS)     0       1       0      1
27                   28          Serbia (SRB)     0       0       3      3
28                   29          Norway (NOR)     0       0       2      2
29                   29          Sweden (SWE)     0       0       2      2
30                   31        Bulgaria (BUL)     0       0       1      1
31                   31         Finland (FIN)     0       0       1      1
32                   31       Hong Kong (HKG)     0       0       1      1
33  Totals (33 entries)   Totals (33 entries)  1028    1035    1018   3081

In [25]:
Dataset_Wiki_IFSC_Climbing_World_Cup[18].dtypes

Rank      object
Nation    object
Gold       int64
Silver     int64
Bronze     int64
Total      int64
dtype: object

In [13]:
Wiki_IFSC_Climbing_World_Cup_Countries_Total_Ranking_Df18 = Dataset_Wiki_IFSC_Climbing_World_Cup[18].head(11)

# script de création d'une table ds SQL 
create_table = """Create TABLE Wiki_IFSC_Climbing_World_Cup_Countries_Total_Ranking_Df18
                                   ( 
                                        id INT IDENTITY PRIMARY KEY,
                                        Rank VARCHAR(50),
                                        Nation VARCHAR(50),
                                        Gold INT,
                                        Silver INT,
                                        Bronze INT,
                                        Total INT                                                                  
                                   ) """

# launch session
cnxn = pyodbc.connect(connection_string,autocommit=True) # no cursor.commit as Autocommit already
cursor = cnxn.cursor() 

try: 
    # load script "create " 
    cursor.execute(create_table) 
    
    # population de la table ds SQL
    for i,row in Wiki_IFSC_Climbing_World_Cup_Countries_Total_Ranking_Df18.iterrows(): 
        row_dict=row.to_dict()
        temp = template_SQL_insert_values('Wiki_IFSC_Climbing_World_Cup_Countries_Total_Ranking_Df18',row_dict)
        cursor.execute(temp)
   
except Exception as err: 
    print('err:',err) 
try: 
    cursor.close()  # close session
except Exception as err: 
    print('err:',err)

In [49]:
Dataset_Wiki_IFSC_Climbing_World_Cup[19]

   vteClimbing competitions                         vteClimbing competitions.1
0               Disciplines  Lead climbing (also called sport climbing) Bou...
1                  Rankings        Ranking of career IFSC victories by climber
2                      Rock  WorldIFSC IFSC Climbing World Cup IFSC Climbin...
3                     World  IFSC IFSC Climbing World Cup IFSC Climbing Wor...
4                      IFSC  IFSC Climbing World Cup IFSC Climbing World Ch...
5               Multi-sport  Summer Olympics Summer Youth Olympics World Ga...
6               Continental  IFSC African Championships African Youth Champ...
7                      IFSC  African Championships African Youth Championsh...
8               Multi-sport                         Asian Games European Games
9                  National  American Championships Austrian Championships ...
10               Individual  Sportroccia Rock Master Melloblocco Nordic Cha...
11                      Ice  World UIAA Ice Climbing World Cup UIAA Ice Cli...
12                    World  UIAA Ice Climbing World Cup UIAA Ice Climbing ...
13            Organizations  International International Federation of Spor...
14            International  International Federation of Sport Climbing (IF...
15                    Other                                       USA Climbing

[19] is duplicate from Climbing European Championships Climbing dataset > to discard !!

In [50]:
Dataset_Wiki_IFSC_Climbing_World_Cup[20]

             0                                                  1
0        World  IFSC IFSC Climbing World Cup IFSC Climbing Wor...
1         IFSC  IFSC Climbing World Cup IFSC Climbing World Ch...
2  Multi-sport  Summer Olympics Summer Youth Olympics World Ga...
3  Continental  IFSC African Championships African Youth Champ...
4         IFSC  African Championships African Youth Championsh...
5  Multi-sport                         Asian Games European Games
6     National  American Championships Austrian Championships ...
7   Individual  Sportroccia Rock Master Melloblocco Nordic Cha...

[20] is duplicate from Climbing European Championships Climbing dataset > to discard !!

In [51]:
Dataset_Wiki_IFSC_Climbing_World_Cup[21]

             0                                                  1
0         IFSC  IFSC Climbing World Cup IFSC Climbing World Ch...
1  Multi-sport  Summer Olympics Summer Youth Olympics World Ga...

[21] is duplicate from Climbing European Championships Climbing dataset > to discard !!

In [52]:
Dataset_Wiki_IFSC_Climbing_World_Cup[22]

             0                                                  1
0         IFSC  African Championships African Youth Championsh...
1  Multi-sport                         Asian Games European Games

[22] is duplicate from Climbing European Championships Climbing dataset > to discard !!

In [55]:
Dataset_Wiki_IFSC_Climbing_World_Cup[23]

       0                                                  1
0  World  UIAA Ice Climbing World Cup UIAA Ice Climbing ...

[23] is duplicate from Climbing European Championships Climbing dataset > to discard !!

In [56]:
Dataset_Wiki_IFSC_Climbing_World_Cup[24]

               0                                                  1
0  International  International Federation of Sport Climbing (IF...
1          Other                                       USA Climbing

[24] is duplicate from Climbing European Championships Climbing dataset > to discard !!

In [57]:
Dataset_Wiki_IFSC_Climbing_World_Cup[25]

,vteLead climbing at the IFSC Climbing World Cup,vteLead climbing at the IFSC Climbing World Cup.1
0,Seasons,1989 1990 1991 1992 1993 1994 1995 1996 1997 1...

[25] is about Climbing World Cup Seasons for LEAD > Not to discard !!

In [59]:
Df_25_Wiki_IFSC_Climbing_World_Cup_Seasons_Lead = Dataset_Wiki_IFSC_Climbing_World_Cup[25]

In [58]:
Dataset_Wiki_IFSC_Climbing_World_Cup[26]

,vteBouldering at the IFSC Climbing World Cup,vteBouldering at the IFSC Climbing World Cup.1
0,Seasons,1999 2000 2001 2002 2003 2004 2005 2006 2007 2...

[26] is about Climbing World Cup Seasons for BOULDERING > Not to discard !!

In [60]:
Df_26_Wiki_IFSC_Climbing_World_Cup_Seasons_Bouldering = Dataset_Wiki_IFSC_Climbing_World_Cup[26]

In [61]:
Dataset_Wiki_IFSC_Climbing_World_Cup[27]

,vteSpeed climbing at the IFSC Climbing World Cup,vteSpeed climbing at the IFSC Climbing World Cup.1
0,Seasons,1998 1999 2000 2001 2002 2003 2004 2005 2006 2...

[27] is about Climbing World Cup Seasons for SPEED > Not to discard !!

In [63]:
Df_27_Wiki_IFSC_Climbing_World_Cup_Seasons_Speed = Dataset_Wiki_IFSC_Climbing_World_Cup[27]

In [64]:
Dataset_Wiki_IFSC_Climbing_World_Cup[28]

,vteClimbing,vteClimbing.1
0,Types,Rock climbingDisciplines Aid Big wall Multi-pi...
1,Rock climbing,Disciplines Aid Big wall Multi-pitch Boulderin...
2,Disciplines,Aid Big wall Multi-pitch Bouldering Highball C...
3,Rock types,Crack Face Roof Slab
4,Mountaineering,Alpine Via ferrata Himalayan Alpine style Expe...
5,Other,Buildering Canyoning Crane Grass Commercial Pa...
6,Lists,Alpine clubs Climbers Piolet d'Or winners IFSC...
7,Terminology,EquipmentRock Aider Daisy chain Anchor Ascende...
8,Equipment,Rock Aider Daisy chain Anchor Ascender Croll B...
9,Rock,Aider Daisy chain Anchor Ascender Croll Belay ...
10,Ice and snow,Alpenstock Abalakov thread Bottled oxygen Cram...
11,Action,Abseiling Australian Dülfersitz Belaying Front...
12,Other,Ape index Approach shoe Clean Climbing route B...
13,Media,Magazines and journals Alpine Journal Alpinist...
14,Magazines and journals,Alpine Journal Alpinist American Alpine Journa...
15,Non-fiction films,The Alpinist El Capitan The Dawn Wall Free Sol...
16,Companies,Black Diamond CAMP Cascade Designs Deuter Earl...
17,Organizations,National Access Fund Alpine Club Alpine Club o...
18,National,Access Fund Alpine Club Alpine Club of Canada ...
19,International,International Federation of Sport Climbing (IF...
20,Portal Category Commons WikiProject,Portal Category Commons WikiProject

[28] is duplicate from Climbing European Championships Climbing dataset > to discard !!

In [65]:
Dataset_Wiki_IFSC_Climbing_World_Cup[29]

                0                                                  1
0   Rock climbing  Disciplines Aid Big wall Multi-pitch Boulderin...
1     Disciplines  Aid Big wall Multi-pitch Bouldering Highball C...
2      Rock types                               Crack Face Roof Slab
3  Mountaineering  Alpine Via ferrata Himalayan Alpine style Expe...
4           Other  Buildering Canyoning Crane Grass Commercial Pa...

[29] is duplicate from Climbing European Championships Climbing dataset > to discard !!

In [66]:
Dataset_Wiki_IFSC_Climbing_World_Cup[30]

             0                                                  1
0  Disciplines  Aid Big wall Multi-pitch Bouldering Highball C...
1   Rock types                               Crack Face Roof Slab

[30] is duplicate from Climbing European Championships Climbing dataset > to discard !!

In [75]:
Dataset_Wiki_IFSC_Climbing_World_Cup[31]

              0                                                  1
0     Equipment  Rock Aider Daisy chain Anchor Ascender Croll B...
1          Rock  Aider Daisy chain Anchor Ascender Croll Belay ...
2  Ice and snow  Alpenstock Abalakov thread Bottled oxygen Cram...
3        Action  Abseiling Australian Dülfersitz Belaying Front...
4         Other  Ape index Approach shoe Clean Climbing route B...

[31] is duplicate from Climbing European Championships Climbing dataset > to discard !!

In [80]:
Dataset_Wiki_IFSC_Climbing_World_Cup[32]

              0                                                  1
0          Rock  Aider Daisy chain Anchor Ascender Croll Belay ...
1  Ice and snow  Alpenstock Abalakov thread Bottled oxygen Cram...

[32] is duplicate from Climbing European Championships Climbing dataset > to discard !!

In [77]:
Dataset_Wiki_IFSC_Climbing_World_Cup[33]

                        0                                                  1
0  Magazines and journals  Alpine Journal Alpinist American Alpine Journa...
1       Non-fiction films  The Alpinist El Capitan The Dawn Wall Free Sol...

[33] is duplicate from Climbing European Championships Climbing dataset > to discard !!

In [78]:
Dataset_Wiki_IFSC_Climbing_World_Cup[34]

               0                                                  1
0       National  Access Fund Alpine Club Alpine Club of Canada ...
1  International  International Federation of Sport Climbing (IF...