### Webscrapping with Pandas pd.read_html()  + ODBC on SQL Server with pyodbc

#### Source : Wikipedia / Sport climbing at the Youth 2018 Summer Olympics

Sport climbing at the 2018 Summer Youth Olympics was held from 7 to 10 October. The competition took place at the Parque Urbano in Puerto Madero, Buenos Aires, Argentina. This marked the debut of the sport at the Youth Olympics. To be eligible to participate at the Youth Olympics athletes needed to have been born between 1 January 2000 and 31 December 2001

Athletes compete in the disciplines of BOULDERING, LEAD Climbing, and SPEED climbing. All three disciplines were contested as a single event in the 2020 programme : so 2 climbing events were contested (men's combined and women's combined).

In [26]:
import numpy as np
import pandas as pd
# Beautifulsoup already installed into Anaconda environment

# Librairy PyODBC for SQL Server connection
import os
import pyodbc
# setup SQL Server connection session
server = '-PCSJN\DATAVIZ'  
database = 'Climbing_Staging'
connection_string= (
                    'DRIVER={SQL Server};SERVER='
                     + server
                     + ';DATABASE='
                     + database 
                     + ';Trusted_Connection=yes'                  
                    )

# Function for injecting dataframe content into SQL Server Table
def template_SQL_insert_values(table_name,dict):
    
    columns = "("
    for k in dict.keys():
        columns += str(k) + ','
    columns = columns[:-1] ### remove last comma
    columns += ")"
    
    req = f"""INSERT INTO {table_name} {columns} VALUES {tuple(dict.values())}"""
    return req

In [27]:
### url
Wiki_Climbing_2018_Youth_Summer_Olympics = "https://en.wikipedia.org/wiki/Sport_climbing_at_the_2018_Summer_Youth_Olympics"
### récuperer toutes les tables html vu sur le site (url)
Dataset_Wiki_Climbing_2018_Youth_Summer_Olympics = pd.read_html(Wiki_Climbing_2018_Youth_Summer_Olympics)
type(Dataset_Wiki_Climbing_2018_Youth_Summer_Olympics), len(Dataset_Wiki_Climbing_2018_Youth_Summer_Olympics)

(list, 9)

##### on récupère 1 list de 9 élts

In [28]:
type(Dataset_Wiki_Climbing_2018_Youth_Summer_Olympics[0])

pandas.core.frame.DataFrame

##### > Chaque élt est un DataFrame Pandas
##### ? Quel est le contenu chacun des 9 dataframes ? Lesquelles nous interessent ?

In [29]:
Dataset_Wiki_Climbing_2018_Youth_Summer_Olympics[0]

,Sport Climbing at the III Summer Youth Olympic Games,Sport Climbing at the III Summer Youth Olympic Games.1
0,NaN,NaN
1,Venue,Parque Urbano
2,Dates,7–10 October
3,No. of events,"2 (1 boys, 1 girls)"
4,Competitors,"42 (21 boys, 21 girls)"
5,2026 →,2026 →

######## [0] is dataset of summarized data about Sport Climbing at 2018 Youth Summer Olympics dataset > NOT to Discard

In [30]:
Dataset_Wiki_Climbing_2018_Youth_Summer_Olympics[1]

,Sport climbing at the 2018 Summer Youth Olympics,Sport climbing at the 2018 Summer Youth Olympics.1,Sport climbing at the 2018 Summer Youth Olympics.2
0,NaN,NaN,NaN
1,Combined,Boys,Girls
2,vte,vte,vte

######## [1] > to Discard

In [31]:
Dataset_Wiki_Climbing_2018_Youth_Summer_Olympics[2]

,Event,Location,Date,Total Places,Qualified
0,Host Nation,-,-,0 1,Argentina
1,2017 World Youth Championship[6],Innsbruck,30 Aug–10 Sept 2017,15,Sam Avezou (FRA) Filip Schenk (ITA) Petar Iv...
2,2017 Asian Youth Championship[7],Singapore,5–9 July 2017,1,Bharath Pereira (IND)
3,2017 Oceania Youth Championship[8],Nouméa,13–15 October 2017,1,Ned Middlehurst (AUS)
4,2017 Pan American Youth Championship[9],Montreal,30 Oct–5 Nov 2017,2,Galo Hernandez (ECU) Rivadeneira Nickolaie (ECU)
5,2017 European Youth Championship[10],Saint-Étienne,25–26 November 2017,1,Yaroslav Tkach (UKR)
6,2017 African Youth Championship[11],Johannesburg,8 December 2017,1,David Naudé (RSA)
7,TOTAL,NaN,NaN,21,NaN

[2] is about Qualified Boys from different World Region Championships > NOT to Discard. !! Host Nation Argentina has finally no qualified participant !!

In [32]:
Df_3_Wiki_IFSC_Climbing_2018_Youth_Summer_Olympics_Qualified_Boys = Dataset_Wiki_Climbing_2018_Youth_Summer_Olympics[2]

In [33]:
Dataset_Wiki_Climbing_2018_Youth_Summer_Olympics[3]

,Event,Location,Date,Total Places,Qualified
0,Host Nation,-,-,1,Valentina Aguado (ARG)
1,2017 World Youth Championship[6],Innsbruck,30 Aug–10 Sept 2017,14,Sandra Lettner (AUT) Elena Krasovskaia (RUS) ...
2,2017 Asian Youth Championship[7],Singapore,5–9 July 2017,1,Mao Nakamura (JPN)
3,2017 Oceania Youth Championship[8],Nouméa,13–15 October 2017,1,Sarah Tetzlaff (NZL)
4,2017 Pan American Youth Championship[12],Montreal,30 Oct–5 Nov 2017,2,Alejandra Contreras (CHI) Cat Carkner (CAN)
5,2017 European Youth Championship[13],Saint-Étienne,25–26 November 2017,1,Nolwenn Arc (FRA)
6,2017 African Youth Championship[11],Johannesburg,8 December 2017,1,Angela Eckhardt (RSA)
7,TOTAL,NaN,NaN,21,NaN

[3] is about Qualified Girls from different World Region Championships > NOT to Discard. !! Host Nation Argentina has finally no qualified participant !!

In [34]:
Df_3_Wiki_IFSC_Climbing_2018_Youth_Summer_Olympics_Qualified_Girls = Dataset_Wiki_Climbing_2018_Youth_Summer_Olympics[3]

In [35]:
Dataset_Wiki_Climbing_2018_Youth_Summer_Olympics[4]

   0           1  2      3
0  Q  Qualifiers  F  Final

[4] > to Discard.

In [36]:
Dataset_Wiki_Climbing_2018_Youth_Summer_Olympics[5]

  Event ↓ / Date → Sun 7 Mon 8 Tue 9 Wed 10
0  Girls' Combined     Q   NaN     F    NaN
1   Boys' Combined   NaN     Q   NaN      F

[5] > to Discard.

In [37]:
Dataset_Wiki_Climbing_2018_Youth_Summer_Olympics[6]

                 Rank              Nation  Gold  Silver  Bronze  Total
0                   1               Japan     1       1       0      2
1                   2             Austria     1       0       1      2
2                   3            Slovenia     0       1       0      1
3                   4              France     0       0       1      1
4  Totals (4 entries)  Totals (4 entries)     2       2       2      6

[6] is about Nation Medal Youth winner in COMBINED's discipline at 2018 Youth Summer Olympics > NOT to Discard.

In [38]:
Dataset_Wiki_Climbing_2018_Youth_Summer_Olympics[6].dtypes

Rank      object
Nation    object
Gold       int64
Silver     int64
Bronze     int64
Total      int64
dtype: object

In [39]:
Wiki_IFSC_Climbing_Summer_Olympics_Youth_2018_Countries_Total_Ranking_Df6 = Dataset_Wiki_Climbing_2018_Youth_Summer_Olympics[6]

# script de création d'une table ds SQL 
create_table = """Create TABLE Wiki_IFSC_Climbing_Summer_Olympics_Youth_2018_Countries_Total_Ranking_Df6
                                   ( 
                                        id INT IDENTITY PRIMARY KEY,
                                        Rank VARCHAR(50),
                                        Nation VARCHAR(50),
                                        Gold INT,
                                        Silver INT,
                                        Bronze INT,
                                        Total INT                                                                   
                                   ) """

# launch session
cnxn = pyodbc.connect(connection_string,autocommit=True) # no cursor.commit as Autocommit already
cursor = cnxn.cursor() 

try: 
    # load script "create " 
    cursor.execute(create_table) 
    
    # population de la table ds SQL
    for i,row in Wiki_IFSC_Climbing_Summer_Olympics_Youth_2018_Countries_Total_Ranking_Df6.iterrows(): 
        row_dict=row.to_dict()
        temp = template_SQL_insert_values('Wiki_IFSC_Climbing_Summer_Olympics_Youth_2018_Countries_Total_Ranking_Df6',row_dict)
        cursor.execute(temp)
   
except Exception as err: 
    print('err:',err) 
try: 
    cursor.close()  # close session
except Exception as err: 
    print('err:',err)

err: ('42S01', "[42S01] [Microsoft][ODBC SQL Server Driver][SQL Server]There is already an object named 'Wiki_IFSC_Climbing_Summer_Olympics_Youth_2018_Countries_Total_Ranking_Df6' in the database. (2714) (SQLExecDirectW)")

In [40]:
Dataset_Wiki_Climbing_2018_Youth_Summer_Olympics[7]

,Event,Gold,Silver,Bronze
0,Boys' combined details,Keita Dohi Japan,Shuta Tanaka Japan,Sam Avezou France
1,Girls' combined details,Sandra Lettner Austria,Vita Lukan Slovenia,Laura Lammer Austria

[7] is about Boys and Girls Medal winner full names and Nations in Combined's discipline at 2018 Youth Summer Olympics > NOT to Discard.

In [41]:
Dataset_Wiki_Climbing_2018_Youth_Summer_Olympics[7].columns

Index(['Event', 'Gold', 'Silver', 'Bronze'], dtype='object')

In [42]:
# Replace 'Event' column by 'Year' to fit with other tables. Result for Gender and Discipline are in a specific table
Dataset_Wiki_Climbing_2018_Youth_Summer_Olympics[7].columns =  ['Year','Gold','Silver','Bronze']

In [43]:
Wiki_IFSC_Climbing_Summer_Olympics_Youth_2018_Medal_Boys_Combined_Df7 = Dataset_Wiki_Climbing_2018_Youth_Summer_Olympics[7].loc[0,:]
Wiki_IFSC_Climbing_Summer_Olympics_Youth_2018_Medal_Girls_Combined_Df7 = Dataset_Wiki_Climbing_2018_Youth_Summer_Olympics[7].loc[1,:]

In [44]:
Wiki_IFSC_Climbing_Summer_Olympics_Youth_2018_Medal_Boys_Combined_Df7

Year      Boys' combined details
Gold           Keita Dohi  Japan
Silver       Shuta Tanaka  Japan
Bronze        Sam Avezou  France
Name: 0, dtype: object

In [45]:
# script de création d'une table ds SQL 
create_table = """Create TABLE Wiki_IFSC_Climbing_Summer_Olympics_Youth_2018_Medal_Boys_Combined_Df7
                                   ( 
                                        id INT IDENTITY PRIMARY KEY,
                                        Year VARCHAR(100),
                                        Gold VARCHAR(100),
                                        Silver VARCHAR(100),
                                        Bronze VARCHAR(100),                                                                   
                                   ) """

# script d'ajout des data d'une table ds SQL
# le pays n'est pas ajouté, pour matcher avec les autres tables, et 2018 est ajouté ds champ Year
populate_table = """INSERT INTO Wiki_IFSC_Climbing_Summer_Olympics_Youth_2018_Medal_Boys_Combined_Df7 VALUES ('2018','Keita Dohi','Shuta Tanaka','Sam Avezou')
                    """
                                  
# launch session
cnxn = pyodbc.connect(connection_string,autocommit=True) # no cursor.commit as Autocommit already
cursor = cnxn.cursor() 

try: 
    # load script "create " 
    cursor.execute(create_table) 
    
    # population de la table ds SQL
    cursor.execute(populate_table) 
   
except Exception as err: 
    print('err:',err) 
try: 
    cursor.close()  # close session
except Exception as err: 
    print('err:',err)

In [46]:
Wiki_IFSC_Climbing_Summer_Olympics_Youth_2018_Medal_Girls_Combined_Df7

Year      Girls' combined details
Gold      Sandra Lettner  Austria
Silver       Vita Lukan  Slovenia
Bronze      Laura Lammer  Austria
Name: 1, dtype: object

In [47]:
# script de création d'une table ds SQL 
create_table = """Create TABLE Wiki_IFSC_Climbing_Summer_Olympics_Youth_2018_Medal_Girls_Combined_Df7
                                   ( 
                                        id INT IDENTITY PRIMARY KEY,
                                        Year VARCHAR(100),
                                        Gold VARCHAR(100),
                                        Silver VARCHAR(100),
                                        Bronze VARCHAR(100),                                                                   
                                   ) """

# script d'ajout des data d'une table ds SQL
# le pays n'est pas ajouté, pour matcher avec les autres tables, et 2018 est ajouté ds champ Year
populate_table = """INSERT INTO Wiki_IFSC_Climbing_Summer_Olympics_Youth_2018_Medal_Girls_Combined_Df7 VALUES ('2018','Sandra Lettner ','Vita Lukan','Laura Lammer')
                    """
                                  
# launch session
cnxn = pyodbc.connect(connection_string,autocommit=True) # no cursor.commit as Autocommit already
cursor = cnxn.cursor() 

try: 
    # load script "create " 
    cursor.execute(create_table) 
    
    # population de la table ds SQL
    cursor.execute(populate_table) 
   
except Exception as err: 
    print('err:',err) 
try: 
    cursor.close()  # close session
except Exception as err: 
    print('err:',err)

In [48]:
Dataset_Wiki_Climbing_2018_Youth_Summer_Olympics[8]

,"vteEvents at the 2018 Summer Youth Olympics in Buenos Aires, Argentina","vteEvents at the 2018 Summer Youth Olympics in Buenos Aires, Argentina.1"
0,Archery Athletics Badminton Basketball Beach h...,Archery Athletics Badminton Basketball Beach h...